p{
    margin: 0;
    line-height: 20px;
}
.container{
    margin-left: 50px;
    margin-top: 50px;
    width: 400px;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    align-items: top;
}
.left-box{
    width: 60px;
}
.left-box img{
    height: 50px;
    border-radius: 25px;
}
.right-box{
    flex: 1;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
}
.text{
    font-size: 15px;
    font-weight: bold;
}
.youtube-link{
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}
.left-section{
    width: 80px;
    background-color: rgb(226, 222, 222);
    height: 80px; 
}
.right-section{
    flex: 1;
    padding: 10px 10px;
}
.text-link{
    color: gray;
}
