.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 480px) {
    .video-grid {
      grid-template-columns: 1fr;
    }
}
  
.video-preview{
    position: relative;
}
.thumnail {
    width: 100%;
}
.thumnail-row{
    margin-bottom: 10px;
    position: relative;
}
.video-time{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 4px 4px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile-picture{
    width: 36px;
    border-radius: 50%;
}
.profile-overview{
    position: absolute;
    bottom: -30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px gray;
    padding: 10px 10px;
    background-color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
.channel-picture:hover .profile-overview{
    opacity: 1;
}
.profile-picture-container{
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture-container .profile-picture{
    width: 50px;
    border-radius: 50%;
}
.profile-info{
    width: 140px;
}
.profile-info .profile-name{
    margin-bottom: 2px;
}
.video-title, .profile-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}
.video-author a, .video-stats, .subscribers{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}
.video-author{
    margin-bottom: 4px;
}